td {
    padding: 10px;
}

th {
    padding: 10px;
    color: white;
    background-color: rgb(17, 84, 158);
}

table {
    border-collapse: collapse;

}

section {
    text-align: center;
    display: flexbox;
    justify-content: center;
}

.bg-none {
    background: none;
    border: none;
    border-radius: 3px;
}

.bg-none:hover {
    font-weight: bold;
    background-color: rgba(225,25,77,0.6);
    color: white;
}

.bgh-green {
    border: none;
    border-radius: 3px;
}
.bgh-green:hover {
    background-color: rgb(37, 167, 77);
    font-weight: bold;
    color:white;
}

.btn-blue {
    background-color: rgb(17, 84, 158);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px 12px;
}

.btn-blue:hover {
    background-color:rgb(57, 134, 216)
}

.box {
  display: flex;
  justify-content: center;

}

.center {
    text-align: center;
}